<form action="/db/login" method="post">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" name="submit" value="login">
</form>
<a href="/signup">New user ? Register Now</a><br>

<a href='/auth/google'>Login with Google</a><br>

<a href='/auth/facebook'>Login with Facebook</a><br>

<a href='/auth/twitter'>Login with Twitter</a><br>