<html>

<body>
    <h3>Registration</h3>
    <form action="/db/register_product" method="post">
        <input type="text" name="pname" placeholder="Product Name"><br>
        <input type="text" name="quantity" placeholder="Quantity"><br>
        <input type="text" name="company" placeholder="Company"><br>
        <input type="submit" name="submit">
    </form>
</body>

</html>